.footer {
	padding: 35px 0;
}

.footer .title {
	margin-bottom: 0;
}

.footer .list {
	align-items: center;
}

.footer .list__item:last-child {
	text-align: center;
}

@media (max-width: 780px) {
	.footer .list__item {
		margin-right: 0;
	}
}


@media (max-width: 768px) {
	.footer {
		padding: 15px 0;
	}

	.footer .list__item {
		width: 100%;
	}

	.footer .list__item:last-child {
		margin-bottom: 0;
		text-align: center;
	}
}